# last modified 28 July 06 by J. Fox

export(
activateMenus, activeDataSet, ActiveDataSet, activeDataSetP, activeModel,
ActiveModel, activeModelP, assignCluster, 
bin.var, 
checkActiveDataSet, checkActiveModel, checkBoxes, checkClass, checkFactors, checkMethod, 
checkNumeric, checkReplace,
checkTwoLevelFactors, checkMultiLevelFactors, checkVariables, closeDialog, colPercents, Commander,
commanderPosition, CommanderWindow, Confint, 
dataSetsP, dialogSuffix, doItAndPrint, 
errorCondition, exists.method,
Factors, factorsP, 
getFrame, getRcmdr, getSelection, gettextRcmdr,
glmP, GrabFocus, groupsBox, groupsLabel, 
hclustSolutionsP, Hist, 
identify3d, initializeDialog, 
IPSURgetAnswer, ipsurweb, IPSURweb, 
is.valid.name, is.SciViews, 
justDoIt, 
KMeans,
listAllModels, listDataSets, listFactors, listGeneralizedLinearModels, 
listLinearModels, listMultiLevelFactors, listMultinomialLogitModels, listNumeric,
listProportionalOddsModels, listTwoLevelFactors, listVariables, 
lmP, logger, LogWindow,
Message, MessagesWindow, modelFormula, modelsP, MultiLevelFactors, multiLevelFactorsP,
Numeric, numericP, numSummary, 
OKCancelHelp, OutputWindow, 
packageAvailable, partial.cor, plotMeans, putRcmdr, pbirthday.ipsur, 
qbirthday.ipsur,
radioButtons, RcmdrPager, RcmdrTclSet, RcmdrTkmessageBox,
reliability, rowPercents, 
scatter3d, stem.leaf, subOKCancelHelp, subsetBox, 
totPercents, trim.blanks, TwoLevelFactors, twoLevelFactorsP, 
UpdateModelNumber, 
variableListBox, Variables)

S3method(Confint, glm)
S3method(Confint, default)
S3method(confint, multinom)
S3method(confint, polr)
S3method(print, reliability)
S3method(print, stem.leaf)
S3method(getFrame, listbox)
S3method(getSelection, listbox)
